#container{
    display: grid;
    grid-template-areas: 'header header'
                        'sidebar photos';
}

header{
    background-color: whitesmoke;
    grid-area: header;
}

#sidebar{
    background-color: white;
    grid-area: sidebar;
}

#photo-container{
    background-color: whitesmoke;
    grid-area: photos;
}

@media only screen and (max-width: 600px){
    #container{
        grid-template-areas: 'header'
                            'sidebar'
                            'photos';
    }
}

@media only screen and (min-width: 600px){
    #container{
        grid-template-areas: 'header'
                            'sidebar'
                            'photos';
    }
}

@media only screen and (min-width: 768px) {
    #container{
        display: grid;
        grid-template-areas: 'header header'
                            'sidebar photos';
    }
}